<mat-toolbar color="primary">
  <div class="toolbar-left">
    <img src="assets/logo.png" alt="AMS Logo" class="logo">
    <span class="app-title">Asset Management System</span>
  </div>

  <span class="spacer"></span>

  <div class="toolbar-right">
    <button *ngIf="actionButtonText" mat-raised-button color="accent" (click)="onActionClick()">
      <mat-icon *ngIf="actionButtonIcon">{{ actionButtonIcon }}</mat-icon>
      {{ actionButtonText }}
    </button>
    
    <div *ngIf="currentUser" class="user-info">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
